@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 0 5px black;
    color: white;
    height: 100vh;
    height: 100dvh;
    background: url('Gemini_Generated_Image_8jijoo8jijoo8jij.png') center / cover no-repeat;
    text-align: center;
}

.container {
    width: clamp(65%, 70%, 800px);
    padding: 2rem;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

h1 {
    font-size: clamp(1.6rem, 4vw, 2.5rem);
    margin-bottom: 1rem;
}

p, label {
    font-size: clamp(1rem, 3vw, 1.6rem);
}

input {
    width: 90%;
    margin: 0.5rem;
    height: 25px;
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    border: 1px solid black;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}

select {
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    width: 90%;
    padding: 5px 15px;
    outline: none;
}

button {
    padding: 5px 25px;
    width: clamp(100px, 60%, 200px);
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    background-color: hsla(240, 100%, 50%, 0.775);
    color: white;
    border: none;
    margin: 10px;
    box-shadow: 0 0 4px white;
    border-radius: 7px;
}

button:active , button:hover{
    background-color: hsla(240, 100%, 50%, 0.402);
}